<%- include("partials/header"); -%>

<h2>Welcome to our Product Store</h2>
<table class="table table-stripped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Available Quantity</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product) {  %>
            <tr>
                <td><%= product.product_id %></td>
                <td><%= product.product_title %></td>
                <td><%= product.quantity_total %></td>
            </tr>
            <% }) %>
    </tbody>
</table>


<%- include("partials/footer"); -%>
